python-dotenv
psycopg2
kombu[amqp]
fastapi==0.65.3
python-multipart
django-hashers-passlib
django-dirtyfields
email-validate
email-validator
pyyaml
sentry-sdk
djutils
langcodes
git+https://github.com/LaVita-GmbH/olympus
