django~=4.1.0
django-health-check==3.17.0
python-dotenv
fastapi~=0.95.1
python-multipart
django-dirtyfields
git+https://git.lavita.io/lavita-io/packages/email-validate@1.1.2#egg=email-validate
email-validator
pyyaml
sentry-sdk==1.9.10
djutils>=1.0.20
djfapi==0.0.70
djpykafka==0.0.43
djdantic==0.0.26b7
pydantic~=1.10.9
asyncapi-docgen
langcodes
jsonpath-ng
Babel
Jinja2
requests
Unidecode
uvicorn
