django~=4.1.0
python-dotenv
fastapi~=0.95.1
python-multipart
django-dirtyfields
email-validate
email-validator
pyyaml
sentry-sdk==1.9.10
djutils>=1.0.20
djfapi==0.0.61
djpykafka==0.0.40
djdantic==0.0.24
pydantic~=1.10.9
asyncapi-docgen
langcodes
jsonpath-ng
Babel
Jinja2
requests
Unidecode
